<h1>結帳</h1>

<%= render "cart_lists", {cart: @cart} %>

<%= simple_form_for(@order) do |f| %>
  <%= f.input :name %>
  <%= f.input :tel %>
  <%= f.input :address %>
  <%= f.input :email %>

  <hr />
  <div id="payment-form"></div>

  <hr />
  <%= f.submit "結帳" %>
<% end %>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
var clientToken = "<%= @token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
